    body {
        background: rgb(192,255,255);
        background: radial-gradient(circle, rgba(192,255,255,1) 0%, rgba(161,254,254,1) 50%, rgba(177,255,255,1) 100%);
        font-size: 16px;
}

    @media (max-width: 768px) {
    body {
    font-size: 14px;
  }
}

   @media (min-width: 769px) {
    body {
     font-size: 18px;
  }
}
    .welcome {
        font-family: 'Trebuchet MS', sans-serif;
        color:black;
        background-color:cyan;
        padding-left:35%;
        margin-bottom:0px;
        margin-right:1f;
    }
    
    .description {
        background:linear-gradient(90deg, rgba(255,164,91,1) 0%, rgba(255,205,166,1) 50%, rgba(255,146,0,1) 100%);
        font-family: 'Gill Sans';
        margin-top:0px;
        margin-left:55%;
        margin-right:1f;
    }
    .box {
        margin: auto
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: blue;
        margin: 25px;
        margin-left:35px
  }
      

    }

    .menu {
        display: none;
     
    
    }

    
    .tip {
        padding: 0.37%;
        background: rgb(13,120,255);
        background: linear-gradient(90deg, rgba(13,120,255,1) 0%, rgba(3,168,250,1) 50%, rgba(13,120,255,1) 100%);
        border-radius: 12px;
        width:475px;
    }
    .menu-wrapper {
        position: relative; 
}

    .menu-button {
        position: absolute;
        top: 0;
        right: 0; 
        cursor: pointer;
        z-index: 1; /* 
}
